<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
<link rel="stylesheet" type="text/css" href="./layout.css" />
<title th:text="${category.id}"></title>
</head>
<body>
	<div class="container">
		<header>
			<span id="title">Songs by Category</span>

		</header>

		<section class="main">
			<h1 th:text="${category.caategory}"></h1>
			<ul>
				<li th:each="song: ${song.id}"><a
					th:href="|/category/(${category.id}|" th:text="${category.category}"></a></li>
			</ul>
		</section>
<footer><small>&copy; Justin Huffman 2018</small></footer>
	</div>

</body>
</html>