<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Songs</title>
</head>
<body>

	<header>
		<h1>Top 5 Bangers by Genre</h1>
	</header>
	<main>
		<ul>
			<img src="/images/recordplayer.jpg" alt="All Bangers" style="width:384px;height:512px;">
			<p> Review information </p>
			<li th:each="song : ${songs}">
			<a th:href="|/songs/${song.id}|" th:text="${song.category}+': '+${song.artist}+' - '+${song.name}">Song</a></li>
		</ul>
	</main>
	<footer>
		<small>&copy; Justin Huffman 2018</small>
	</footer>
</body>
</html>