
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${song.id}">Name</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header> 
		<h1 th:text="${song.id}+': '+${song.artist}+' - '+${song.name}">Artist's Song</h1>
	</header>
		<main>
			<p>
		<iframe th:src="|https://open.spotify.com/embed/track/${song.uri}|" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">iframe placeholder</iframe>
		</p>	
		<img th:src="@{|/images/${song.image}|}" alt="Album Art" style="width:300px;height:300px;">
			<h2 th:text="'Album: '+${song.album}">Album</h2>
			<h3 th:text="'Release date: '+${song.releaseDate}">Release Date</h3>
			<h3 th:text="'Category: '+${song.category}">Category</h3>

			<blockckquote th:text="${song.content}">Place holder Content</blockquote>
			
		</main>
		<footer> 
			<a href="/songs">Return to All Songs </a>
		<p><small>&copy; Justin Huffman 2018</small></p>
		</footer>
</body>
</html>